In [1]:
import pandas as pd

In [6]:
#Dataframe from Dictionary

dict = {
    "country": ["Brazil","Russia","India","China","South Africa"],
    "capital":["Brasilia","Moscow","New Delhi","Beijing","Pretoria"],
    "area":[8.516,17.10,3.286,9.597,1.221],
    "population":[200.4,143.5,1252,1357,52.98]    
}

bric = pd.DataFrame(dict)

In [7]:
bric

        country    capital    area  population
0        Brazil   Brasilia   8.516      200.40
1        Russia     Moscow  17.100      143.50
2         India  New Delhi   3.286     1252.00
3         China    Beijing   9.597     1357.00
4  South Africa   Pretoria   1.221       52.98

In [12]:
cars = pd.read_csv('mtcars.csv')
cars.head(3)

,model,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4
1,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4
2,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1

In [11]:
type(cars)

pandas.core.frame.DataFrame

In [16]:
bric.columns

Index(['country', 'capital', 'area', 'population'], dtype='object')

In [17]:
fields = list(bric.columns.values)
fields

['country', 'capital', 'area', 'population']

In [19]:
bric.shape

(5, 4)

In [21]:
req_cols = ['country','capital','area']

temp = bric[req_cols]
temp

        country    capital    area
0        Brazil   Brasilia   8.516
1        Russia     Moscow  17.100
2         India  New Delhi   3.286
3         China    Beijing   9.597
4  South Africa   Pretoria   1.221

In [27]:
req_cols = fields[:2]
temp = bric[req_cols]
temp

        country    capital
0        Brazil   Brasilia
1        Russia     Moscow
2         India  New Delhi
3         China    Beijing
4  South Africa   Pretoria

In [47]:
bric.iloc[:, [0,3]]

        country  population
0        Brazil      200.40
1        Russia      143.50
2         India     1252.00
3         China     1357.00
4  South Africa       52.98

In [38]:
bric.loc[[0,1,2], ["country", "capital"]]

  country    capital
0  Brazil   Brasilia
1  Russia     Moscow
2   India  New Delhi

In [46]:
bric[2:4]

  country    capital   area  population
2   India  New Delhi  3.286      1252.0
3   China    Beijing  9.597      1357.0

In [48]:
import numpy as np

bric['pop_measure'] = bric['population'].apply(
    lambda val : "high" if val > 500 else "low")

In [49]:
bric

        country    capital    area  population pop_measure
0        Brazil   Brasilia   8.516      200.40         low
1        Russia     Moscow  17.100      143.50         low
2         India  New Delhi   3.286     1252.00        high
3         China    Beijing   9.597     1357.00        high
4  South Africa   Pretoria   1.221       52.98         low

In [50]:
bric['area'] < 5

0    False
1    False
2     True
3    False
4     True
Name: area, dtype: bool

        country    capital    area  population pop_measure  LMAO
0        Brazil   Brasilia   8.516      200.40         low    10
1        Russia     Moscow  17.100      143.50         low    10
2         India  New Delhi   3.286     1252.00        high    10
3         China    Beijing   9.597     1357.00        high    10
4  South Africa   Pretoria   1.221       52.98         low    10

In [53]:
bric[bric['country'] == 'India']

  country    capital   area  population pop_measure  LMAO
2   India  New Delhi  3.286      1252.0        high    10